<app-fullstory></app-fullstory>
<mat-toolbar>
  <mat-toolbar-row>
      <mat-menu #appMenu="matMenu">
        <a mat-menu-item (click)="debugger.toggle()"><mat-icon>bug_report</mat-icon>Debugger</a>
      </mat-menu>
      <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon>menu</mat-icon>
      </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-drawer-container>
  <mat-drawer #debugger mode="side">
    <app-player></app-player>
  </mat-drawer>
  <mat-drawer-content>
    <div fxLayout="row" fxLayoutAlign="center none">
      <div fxFlex="20"></div>
      <div fxFlex="60" fxLayout="column" fxLayoutAlign="start stretch">
        <div>
          <mat-card class="mat-display-4 display">{{ display }}</mat-card>
        </div>
        <div fxFill>
          <mat-grid-list cols="4" rowHeight="100px">
            <mat-grid-tile>
              <div fxLayout="row" fxFill>
                <button mat-flat-button class="calc-button" (click)="press('AC')">
                  <h1>AC</h1>
                </button>
                <button mat-flat-button class="calc-button" (click)="press('CE')">
                  <h1>CE</h1>
                </button>
              </div>
            </mat-grid-tile>
            <mat-grid-tile *ngFor="let button of buttons" [colspan]=button.span>
              <button mat-flat-button class="calc-button" [color]="button.color" [disabled]="button.text === undefined"
                (click)="press(button.text)">
                <h1>{{ button.text }}</h1>
              </button>
            </mat-grid-tile>
          </mat-grid-list>
          <div>Registers: {{ registers.join(', ') }}</div>
          <div>Memory: {{ values.join(', ') }}</div>
        </div>
      </div>
      <div fxFlex="20"></div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>